{
    "$schema": "https://json.schemastore.org/swcrc",
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "tsx": true,
            "decorators": true,
            "dynamicImport": true
        },
        "transform": {
            "react": {
                "runtime": "automatic",
                "pragma": "React.createElement",
                "pragmaFrag": "React.Fragment",
                "throwIfNamespace": true,
                "development": false,
                "useBuiltins": true
            },
            "legacyDecorator": true,
            "decoratorMetadata": true
        },
        // 移除 target
        "loose": true,
        "externalHelpers": true,
        "keepClassNames": true
    },
    "module": {
        "type": "commonjs",
        "strict": true,
        "strictMode": true,
        "lazy": false,
        "noInterop": false
    },
    "minify": false,
    "sourceMaps": true,
    "exclude": [
        "node_modules"
    ]
}